[user]
	name = Eric Weigle
	email = eric.weigle@gmail.com
[alias]
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
[credential]
	helper = cache
[push]
	default = simple
[core]
	editor = vim

# GUIs
#[diff]
#	external = /home/$USER/bin/git_meld
#[merge]
#	tool = meld2
#[mergetool "meld2"]
#	cmd = /home/$USER/bin/git_mergetool \\\"$BASE\\\" \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$MERGED\\\"

# CLI's
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
