[user]
	name = Eric Weigle
	email = eric.weigle@gmail.com
[diff]
	external = /home/ehw/bin/git_meld
[alias]
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
[credential]
	helper = cache
[merge]
	tool = meld2
[push]
	default = simple
[mergetool "meld2"]
	cmd = /home/ehw/bin/git_mergetool \\\"$BASE\\\" \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$MERGED\\\"
